In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [11]:
import acquire as acq
import prepare as prep

In [ ]:
total_df = prep.prep_telco(acq.get_telco_data())

In [20]:
total_df.columns

Index(['payment_type_id', 'internet_service_type_id', 'contract_type_id',
       'customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'online_security',
       'online_backup', 'device_protection', 'tech_support', 'streaming_tv',
       'streaming_movies', 'paperless_billing', 'monthly_charges',
       'total_charges', 'churn', 'contract_type', 'internet_service_type',
       'payment_type', 'churn_encode'],
      dtype='object')

In [40]:
total_df[['internet_service_type_id','gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'online_security',
       'online_backup', 'device_protection', 'tech_support', 'streaming_tv',
       'streaming_movies', 'paperless_billing']].sample(5)

,internet_service_type_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing
6932,3,Male,0,No,Yes,39,Yes,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,No
4214,2,Female,0,Yes,No,8,Yes,Yes,No,No,No,No,No,Yes,Yes
2805,2,Male,1,No,No,10,Yes,No,No,Yes,No,No,No,No,Yes
359,1,Male,0,Yes,No,3,No,No phone service,No,Yes,No,No,No,No,No
6175,3,Female,0,Yes,Yes,45,Yes,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Yes

In [36]:
total_df.streaming_movies.unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [35]:
total_df.streaming_tv.unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [33]:
total_df.online_backup.unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [34]:
total_df.online_security.unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [13]:
#acq.peekatdata(df)
#df.head()

In [ ]:
df = total_df[['churn_encode', 'monthly_charges']]

In [15]:
df.head()

   churn_encode  monthly_charges
0             0             59.9
1             0             69.4
2             0             48.2
3             1             25.1
4             1             30.5

## Split into X's, y's and Train/Tests

In [6]:
X = df.drop('churn_encode',axis=1)
y = df[['churn_encode']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.20, random_state = 123)

## Logistic Regression fitting

In [7]:
logit = LogisticRegression()
logit.fit(X_train, y_train)
y_pred = logit.predict(X_train)
y_pred_proba = logit.predict_proba(X_train)

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [8]:
print('Columns: \n:', X_train.columns)
print('Coefficient: \n', logit.coef_)
print('Intercept: \n', logit.intercept_)

Columns:
: Index(['monthly_charges'], dtype='object')
Coefficient:
 [[0.01467951]]
Intercept:
 [-2.02339881]

In [9]:
y_pred

array([0, 0, 0, ..., 0, 0, 0])

#### Probability of Stay vs Churn

In [10]:
y_pred_proba

array([[0.84376385, 0.15623615],
       [0.60252385, 0.39747615],
       [0.85004403, 0.14995597],
       ...,
       [0.76350401, 0.23649599],
       [0.70297718, 0.29702282],
       [0.66689371, 0.33310629]])

#### Accuracy

In [11]:
(y_train['churn_encode'] == y_pred).sum() / y_train.shape[0]

0.7364217252396166