In [1]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [2]:
import acquire as acq
import prepare as prep

In [3]:
total_df = prep.prep_telco(acq.get_telco_data())

In [ ]:
total_df.columns

In [5]:
total_df.multiple_lines.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,churn_encode
0,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check,0
1,4,1,1,0013-MHZWF,Female,0,No,Yes,9,Yes,...,Yes,Yes,Yes,69.4,571.45,No,Month-to-month,DSL,Credit card (automatic),0
2,1,1,1,0015-UOCOJ,Female,1,No,No,7,Yes,...,No,No,Yes,48.2,340.35,No,Month-to-month,DSL,Electronic check,0
3,1,1,1,0023-HGHWL,Male,1,No,No,1,No,...,No,No,Yes,25.1,25.1,Yes,Month-to-month,DSL,Electronic check,1
4,3,1,1,0032-PGELS,Female,0,Yes,Yes,1,No,...,No,No,No,30.5,30.5,Yes,Month-to-month,DSL,Bank transfer (automatic),1

In [ ]:
total_df[['internet_service_type_id','gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'online_security',
       'online_backup', 'device_protection', 'tech_support', 'streaming_tv',
       'streaming_movies', 'paperless_billing']].sample(5)

In [ ]:
total_df[['streaming_movies', 'streaming_movies_encode']].sample(15)

In [ ]:
total_df.streaming_tv.unique()

In [ ]:
total_df.online_backup.unique()

In [ ]:
total_df.online_security.unique()

In [ ]:
#acq.peekatdata(df)
#df.head()

In [ ]:
df = total_df[['churn_encode', 'monthly_charges']]

In [ ]:
df.head()

## Split into X's, y's and Train/Tests

In [ ]:
X = df.drop('churn_encode',axis=1)
y = df[['churn_encode']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.20, random_state = 123)

## Logistic Regression fitting

In [ ]:
logit = LogisticRegression()
logit.fit(X_train, y_train)
y_pred = logit.predict(X_train)
y_pred_proba = logit.predict_proba(X_train)

In [ ]:
print('Columns: \n:', X_train.columns)
print('Coefficient: \n', logit.coef_)
print('Intercept: \n', logit.intercept_)

In [ ]:
y_pred

#### Probability of Stay vs Churn

In [ ]:
y_pred_proba

#### Accuracy

In [ ]:
(y_train['churn_encode'] == y_pred).sum() / y_train.shape[0]