In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [17]:
import acquire as acq
import prepare as prep

In [18]:
df = acq.get_telco_data()

In [19]:
df = prep.prep_telco(df)

In [20]:
acq.peekatdata(df)

HEAD:
   payment_type_id  internet_service_type_id  contract_type_id customer_id  \
0                2                         1                 1  0003-MKNFE
1                4                         1                 1  0013-MHZWF
2                1                         1                 1  0015-UOCOJ
3                1                         1                 1  0023-HGHWL
4                3                         1                 1  0032-PGELS

   gender  senior_citizen partner dependents  tenure phone_service  \
0    Male               0      No         No       9           Yes
1  Female               0      No        Yes       9           Yes
2  Female               1      No         No       7           Yes
3    Male               1      No         No       1            No
4  Female               0     Yes        Yes       1            No

      ...      streaming_tv streaming_movies paperless_billing  \
0     ...                No              Yes                No
1     ...               Yes              Yes               Yes
2     ...                No               No               Yes
3     ...                No               No               Yes
4     ...                No               No                No

  monthly_charges total_charges churn   contract_type internet_service_type  \
0            59.9         542.4    No  Month-to-month                   DSL
1            69.4        571.45    No  Month-to-month                   DSL
2            48.2        340.35    No  Month-to-month                   DSL
3            25.1          25.1   Yes  Month-to-month                   DSL
4            30.5          30.5   Yes  Month-to-month                   DSL

                payment_type churn_encode
0               Mailed check            0
1    Credit card (automatic)            0
2           Electronic check            0
3           Electronic check            1
4  Bank transfer (automatic)            1

[5 rows x 25 columns]


 TAIL:
      payment_type_id  internet_service_type_id  contract_type_id customer_id  \
7038                4                         3                 3  9950-MTGYX
7039                2                         3                 3  9953-ZMKSM
7040                4                         3                 3  9964-WBQDJ
7041                3                         3                 3  9972-EWRJS
7042                4                         3                 3  9975-GPKZU

      gender  senior_citizen partner dependents  tenure phone_service  \
7038    Male               0     Yes        Yes      28           Yes
7039    Male               0      No         No      63           Yes
7040  Female               0     Yes         No      71           Yes
7041  Female               0     Yes        Yes      67           Yes
7042    Male               0     Yes        Yes      46           Yes

         ...              streaming_tv     streaming_movies paperless_billing  \
7038     ...       No internet service  No internet service               Yes
7039     ...       No internet service  No internet service                No
7040     ...       No internet service  No internet service               Yes
7041     ...       No internet service  No internet service               Yes
7042     ...       No internet service  No internet service                No

     monthly_charges total_charges churn contract_type internet_service_type  \
7038           20.30        487.95    No      Two year                  None
7039           25.25        1559.3    No      Two year                  None
7040           24.40        1725.4    No      Two year                  None
7041           19.25        1372.9    No      Two year                  None
7042           19.75         856.5    No      Two year                  None

                   payment_type churn_encode
7038    Credit card (automatic)            0
7039               Mailed check            0
7040    Credit card (automatic)            0
7041  Bank transfer (automatic)            0
7042    Credit card (automatic)            0

[5 rows x 25 columns]


 SHAPE:
(7043, 25)


 DESCRIBE:
       payment_type_id  internet_service_type_id  contract_type_id  \
count      7043.000000               7043.000000       7043.000000
mean          2.315633                  1.872923          1.690473
std           1.148907                  0.737796          0.833755
min           1.000000                  1.000000          1.000000
25%           1.000000                  1.000000          1.000000
50%           2.000000                  2.000000          1.000000
75%           3.000000                  2.000000          2.000000
max           4.000000                  3.000000          3.000000

       senior_citizen       tenure  monthly_charges  churn_encode
count     7043.000000  7043.000000      7043.000000   7043.000000
mean         0.162147    32.371149        64.761692      0.265370
std          0.368612    24.559481        30.090047      0.441561
min          0.000000     0.000000        18.250000      0.000000
25%          0.000000     9.000000        35.500000      0.000000
50%          0.000000    29.000000        70.350000      0.000000
75%          0.000000    55.000000        89.850000      1.000000
max          1.000000    72.000000       118.750000      1.000000


 INFO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 25 columns):
payment_type_id             7043 non-null int64
internet_service_type_id    7043 non-null int64
contract_type_id            7043 non-null int64
customer_id                 7043 non-null object
gender                      7043 non-null object
senior_citizen              7043 non-null int64
partner                     7043 non-null object
dependents                  7043 non-null object
tenure                      7043 non-null int64
phone_service               7043 non-null object
multiple_lines              7043 non-null object
online_security             7043 non-null object
online_backup               7043 non-null object
device_protection           7043 non-null object
tech_support                7043 non-null object
streaming_tv                7043 non-null object
streaming_movies            7043 non-null object
paperless_billing           7043 non-null object
monthly_charges             7043 non-null float64
total_charges               7043 non-null object
churn                       7043 non-null object
contract_type               7043 non-null object
internet_service_type       7043 non-null object
payment_type                7043 non-null object
churn_encode                7043 non-null int64
dtypes: float64(1), int64(6), object(18)
memory usage: 1.3+ MB
None

In [21]:
df = df[['churn_encode', 'monthly_charges']]

In [22]:
df.head()

   churn_encode  monthly_charges
0             0             59.9
1             0             69.4
2             0             48.2
3             1             25.1
4             1             30.5

### don't forget to standardized here, from the prep.py

In [23]:
X = df.drop('churn_encode',axis=1)
y = df[['churn_encode']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.20, random_state = 123)

In [30]:
logit = LogisticRegression()

logit.fit(X_train, y_train)

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [31]:
print('Columns: \n:', X_train.columns)
print('Coefficient: \n', logit.coef_)
print('Intercept: \n', logit.intercept_)

Columns:
: Index(['monthly_charges'], dtype='object')
Coefficient:
 [[0.01467951]]
Intercept:
 [-2.02339881]

In [35]:
y_pred = logit.predict(X_train)
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [36]:
y_pred_proba = logit.predict_proba(X_train)
y_pred_proba

array([[0.84376385, 0.15623615],
       [0.60252385, 0.39747615],
       [0.85004403, 0.14995597],
       ...,
       [0.76350401, 0.23649599],
       [0.70297718, 0.29702282],
       [0.66689371, 0.33310629]])

In [45]:
(y_train['churn_encode'] == y_pred).sum() / y_train.shape[0]

0.7364217252396166